<div class="column half_whole" style="width:45%">
  <article class="card box_panel card_full">
    <label class="card_label">
      {{product_name}}
    </label>
    <section class="card_body">
        <div class="inner-content text-center">
            <div class="c100 p{{probability}} big center blue">
                <span>{{probability}}%</span>
                <div class="slice"><div class="bar"></div><div class="fill"></div></div>
            </div>
        </div>
    </section>
    <section class="stats stats_row">
        <div class="stats_item half_whole small_whole">
          <div class="txt_faded">
            <label class="txt_label space_n_b">
              Category
            </label>
            <div class="txt_serif stats_item_number txt_category">
              {{category}}
            </div>
          </div>
        </div>
        <div class="stats_item half_whole">
          <div class="txt_faded">
            <label class="txt_label space_n_b">
              Product ID
            </label>
            <div class="txt_serif stats_item_number txt_id">
              {{product_id}}
            </div>
          </div>
        </div>
    </section>
  </article>
</div>